{{!-- Studies Page  --}}
<!DOCTYPE html>
<html>
    <head>
        <title>Studies</title>
        <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
        <link rel="stylesheet" href="/css/studies.css">
        <link rel="shortcut icon" type="image/png" href="https://www.dropbox.com/s/adtwtls9yevcoda/LIBR_full_color_logo_highres_brain_only.png?raw=1" />
    </head>

</html>